# Python basics

In [11]:
![]

The system cannot find the path specified.

# Ordered list

1 . One
2 . Two
3 . Three

# Unordered

- JJS
- GFF
- YYU

In [22]:
print("Hello World")

Hello World

**BOLD**
_Hello_

![https://i.pinimg.com/originals/99/2f/04/992f0485a6be4e775e23a645b7ed94ff.jpg]

In [23]:
x=10
y=30
x+y

40

[site][https://i.pinimg.com/originals/99/2f/04/992f0485a6be4e775e23a645b7ed94ff.jpg]

In [24]:
name="Ajs08"
age=56
print("This person is",name)

This person is Ajs08

In [26]:
name=input("Enter name")
age=int(input("age?"))
print("Name",name,"age=",age)

Enter nameJunnu
age?87
Name Junnu age= 87

In [29]:
x=int(input("enter x"))
y=int(input("Enter y"))
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)

enter x78
Enter y2
80
76
156
39.0
0

## Fundumental data types

* int
* float
* boolean
* complex

In [30]:
x=10
y=46.76
z=8+2j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [31]:
c1=3+1j
c2=4+2j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(7+3j)
(-1-1j)
(10+10j)

In [33]:
x=10
y=2
x < y

False

In [34]:
i=100
print(type(i))
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [35]:
a=1234
print(len(str(a)))

4

In [37]:
n1=100
a=b=c=20
a1,b1,c1=100,200,300
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
100 200 300

# Precendence of the ARTH operators

* parenthesis
* power
* multiplication
* addition

In [40]:
x=2 + 7 - 1 * 8 /2**2
print(x)

7.0

## Operators

* +
* -
* *
* /
* %
* **
* //

# Relational operators

* ==,!=,,>,<

In [43]:
i=100
a1=(i>15) and (i<76)
print(a1)

False

In [44]:
i=100
a1=(i>15) and (i<76)
print(a1)
print(not i)

False
False

## Membership operators

* in
* not in

In [46]:
str1="abcd"
print('a' in str1)
print('a' not in str1)

True
False

## Control Flow 
- Conditional statements
- Looping statements
- if-else statements

In [51]:
n=int(input("enter a no."))
if n%2 ==0:
    print("Even")
else:
    print("odd")

enter a no.7
odd

In [57]:
n=int(input("enter a no."))
if n%3==0 and n%5==0:
    print("divisible")
else:
        print("Not divisible")

enter a no.15
divisible

In [71]:
n=int(input("Enter number"))
if n<0:
    print("negative")
elif n>0:
        print("positive")
else:
            print("zero")

Enter number12
positive

In [72]:
n=int(input("Enter year"))
if n%400==0:
 print("its a leap year")
elif n%4==0 and n%100!=0:
    print("its a leap year")
else:
 print("Its not")

Enter year2004
its a leap year